Job Vacancy Board
=================

You have received a question to the following offer:

* Title: <%= job_offer.title %>
* Location: <%= job_offer.location %>
* Description: <%= job_offer.description %>
* Age Required: <%= job_offer.age_required %>
* Remuneration: <%= job_offer.remuneration %>

* Question: <%= job_question.question %>


