<h1>Forgotten Password</h1>
<% form_for(@user, '/users/forgot') do |f| %> 
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br/>
  <%= f.submit "Send new password", :class => "btn btn-primary" %>
<% end %>