  <%= f.label :title %>
  <%= f.text_field :title, :class => "input-block-level" %>
  <%= f.label :location %>
  <%= f.text_field :location, :class => "input-block-level" %>
  <%= f.label :description %>
  <%= f.text_area :description, :class => "input-block-level" %>
  <%= f.label :age_required %>
  <%= f.text_field :age_required, :class => "input-block-level" %>
  <%= f.label :remuneration %>
  <%= f.text_field :remuneration, :class => "input-block-level" %>
  <%= f.label :tags %>
  <%= f.text_field :tags, :class => "input-block-level" %>

  <br/>
