<h1>Job Applications for: <%=@job_offer.title%></h1>
<table class="table table-bordered">
	<% if @applications.count > 0 %>
	  <tr>
		<th>Email</th>
		<th>Short bio</th>
		<th>Fecha/Hora</th>
	  </tr>
	  <% @applications.each do |application| %>

	  <tr>
		<td>
			<%= application[:applicant_email] %>
		</td>
		<td>
			<%= application[:description_postulant] %>
		</td>
		<td>
			<%= application[:date_job_application].strftime('%Y-%m-%d %H:%M:%S') %>
		</td>
	  </tr>
	  <% end %>

    <% else %>
      <h4>The job offer has no applications yet</h4>
    <% end %>

</table>