<script src='https://www.google.com/recaptcha/api.js'></script>

<h1>Job Application</h1>
	
<p>Please enter your email address to receive the contanct information for this offer.</p>
<% form_for(@job_application, "/job_offers/apply/#{@job_offer.id}") do |f| %>

<%= f.label :applicant_email %>
 	<%= f.text_field :applicant_email %>
<p>If you want to give a description about you to the publisher, you can write:</p>
 	<%= f.text_area :description_postulant %>
 	<%= recaptcha_tags %>
	<hr/>


  <%= f.submit "Apply", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>
<% end %>

<% if !@job_offer.tags.nil? %>
	<hr/>

	<h3>Other jobs offers that may interest you..</h3>
 
 	<table class="table table-bordered">
		<tr>
			<th>Title</th>
			<th>Location</th>
			<th>Description</th>
			<th>Age Required</th>
			<th>Remuneration</th>
			<th>Tags</th>
			<th>Actions</th>
		</tr>

		<%@offers_related = related_offers_to(@job_offer.tags)%>

		<% @offers_related.first(4).each do |offer| %>
			<% if offer != @job_offer %>
			<tr>
				<td>
					<%= offer.title %>
				</td>
				<td>
					<%= offer.location %>
				</td>
				<td>
					<%= offer.description %>
				</td>
				<td>
					<% if offer.age_required == 0 %>
						<%= "Not specified" %>
      	 		<% end %>
       			<% if offer.age_required != 0 %>
					<%= offer.age_required %>
	  		 	<% end %>	
				</td>
				<td>
					<%= offer.remuneration %>
				</td>
				<td>
					<% if offer.tags == '' %>
						<%= "-" %>
       			<% end %>
       			<% if offer.tags != '' %>
					<%= offer.tags %>
	  		 	<% end %>
				</td>			
				<td>
					<%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id), :class => "btn btn-primary" %>
					<%= link_to 'Question', url_for(:job_offers, :question, :offer_id => offer.id), :class => "btn btn-primary" %>
				</td>		
			</tr>
			<% end %>
		<% end %>
	</table>
<% end %>