<% if !signed_in?%>
	<div class="alert alert-warning">
  		<strong>You must be logged in to be able to apply for an offer</strong>
	</div>
<% end %>

<h1>Current Job Offers</h1>
<div class="search-box">
	<form method="POST" action="search" class="form-search" id="search-caja">
		 <%= csrf_token_field %>
		<input type="text" name="q" />
		<input type="submit" value="search" id="search-button" class="btn btn-primary"/>
	</form>
</div>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Age Required</th>
		<th>Remuneration</th>
		<th>Tags</th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>
		<td>
			<% if offer.age_required == 0 %>
				<%= "Not specified" %>
	       <% end %>
	       <% if offer.age_required != 0 %>
			<%= offer.age_required %>
		   <% end %>	
		</td>	
		<td>
			<%= offer.remuneration %>
		</td>
		<td>
			<% if offer.tags == '' %>
				<%= "-" %>
	       <% end %>
	       <% if offer.tags != '' %>
			<%= offer.tags %>
		   <% end %>
		</td>		
		<td>
			<% if signed_in?%>
				<%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id), :class => "btn btn-primary" %>
			<% else %>
				<%= link_to 'Apply', :class => "btn btn-primary btn-lg disabled" %>
			<% end %>
			<%= link_to 'Question', url_for(:job_offers, :question, :offer_id => offer.id), :class => "btn btn-primary" %>
		</td>		
	</tr>

  <% end %>

</table>