<h1>My Job Offers</h1>
<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Age Required</th>
		<th>Remuneration</th>
		<th>Tags</th>
		<th># applications</th>
		<th>Is active</th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
			<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>
		<td>
			<% if offer.age_required == 0 %>
				<%= "Not specified" %>
	       <% end %>
	       <% if offer.age_required != 0 %>
			<%= offer.age_required %>
		   <% end %>	
		</td>
		<td>
			<%= offer.remuneration %>
		</td>
		<td>
			<% if offer.tags == '' %>
				<%= "-" %>
	       <% end %>
	       <% if offer.tags != '' %>
			<%= offer.tags %>
		   <% end %>   
		</td>
		<td>
			<% if offer.quantity_of_postulations.nil? %>
				<%= "-" %>
	       <% end %>
	       <% if not offer.quantity_of_postulations.nil? %>
			<%= offer.quantity_of_postulations %>
		   <% end %>	
		</td>			
		<td>
			<%= offer.is_active %>
		</td>		

		<td>
			<%= link_to 'Edit', url_for(:job_offers, :edit, :offer_id => offer.id), :class => "btn btn-primary" %>
			<%= link_to 'Applications', url_for(:job_offers, :applications, :offer_id => offer.id), :class => "btn btn-primary" %>
			<%- form_tag url(:job_offers, :destroy, :offer_id => offer.id), :method => :delete, :style => 'display:inline' do %>
                <button type='submit' title="Delete offer" rel='tooltip' class="btn btn-secondary" >Delete
                </button>
       <% end %>
       <% if not offer.is_active %>
				<%- form_tag url(:job_offers, :activate, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
	                <button type='submit' title="Activate offer" rel='tooltip' class="btn btn-secondary" >Activate
	                </button>
	       <% end %>
       <% end %>
		</td>	
	</tr>

  <% end %>



</table>