  <% form_for(@job_application, "/job_offers/question/#{@job_offer.id}") do |f| %>
  <h1><%=@job_offer.title%></h1>
  <%= f.label :email %>
  <%= f.text_field :email, :class => "input-block-level" %>
  <%= f.label :subject %>
  <%= f.text_field :subject, :class => "input-block-level" %>
  <%= f.label :question %>
  <%= f.text_area :question %>
  <hr/>
  <%= f.submit "Send", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>
<% end %>