<!--
<div>
	search box
</div>
-->
<table>
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Age Required</th>
		<th>Remuneration</th>
		<th>Tags</th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>
		<td>
			<% if offer.age_required == 0 %>
				<%= "Not specified" %>
	       <% end %>
	       <% if offer.age_required != 0 %>
			<%= offer.age_required %>
		   <% end %>	
		</td>
		<td>
			<%= offer.remuneration %>
		</td>
		<td>
			<% if offer.tags == '' %>
				<%= "-" %>
	       <% end %>
	       <% if offer.tags != '' %>
			<%= offer.tags %>
		   <% end %>
		</td>			
		<td>
			<%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id) %>
			<%= link_to 'Question', url_for(:job_offers, :question, :offer_id => offer.id) %>
		</td>		
	</tr>

  <% end %>

</table>